{{#each this}}

<h2>{{name}}</h2>
<img src="{{flag}}" alt="Flag of {{name}}" width="320">
<p>Capital -{{capital}}</p>


{{#each currencies}}
<p>Currency - {{name}}</p>
{{/each}}
<p>Population - {{population}} people</p>

{{#each languages }}
<p>Official language - {{name}}</p>
{{/each}}


{{/each}}